.Myitinary{
  margin-top: 30px;
  margin-left: 80px;
}

.description {
  text-align:center;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 10px;
  font-family:cursive
}
.description p{
  font-size: 15px;
}

.start-browsing {
  padding-top: 10px;
  padding-bottom: 10px;
  width:250px;
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 40px;
  background-color:bisque;
  }

.start-browsing h6 {
   color:red;
   text-align: center;
   font-size: large;
}
.start-browsing img{
  margin-left: 85px;
}

.options {
  border-style:groove;
  border-color:gray;
  border-start-start-radius: 30px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  margin-top: 60px;
  font-family:cursive
  
}
.options h5{
  font-size: 17px;
}

.home-icon {
 /* align-self: flex-end;*/
  margin-top: 80px;
  margin-right: 100px;
  margin-left: 160px;
}

/* Filter */
.filter-container {
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 5px;
}

.filter-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.filter-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*Lista de ciudades*/
.listCities{
  list-style-type: none;
  margin-right:20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*New City*/
.NewCity{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color:beige
}

/*Formulario Add city*/
.formContainer {
  display: flex;
  flex-direction: column;
  width: 350px; /* Ajusta el ancho según tus necesidades */
  margin: auto; /* Centrar el formulario en el medio de la página */
  background-color: lightgrey;
  border-radius: 30px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 10px;
  margin-left: 20px;
}

label {
  margin-right: 5px;
  margin-top: 10px;
}

.errorText {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}
.myButton1{
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 80px;
  width: 150px;
}
.myButton2{
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 80px;
  margin-bottom: 10px;
  width: 150px;
}
