/* Landing */
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3; /* Ajusta el valor de z-index según sea necesario */
  /* Otros estilos que desees aplicar al contenedor fijo */
}
.container_logo{
  width: 30vw; /* es un 30% del ancho de la ventana*/
  margin-top: 20px;
  margin-bottom: 10px;
  /*al poner los margenes izquierdo y derecho auto, centramos el logo*/
  margin-left: auto; 
  margin-right: auto;
 }

.container_photo{
  position: relative; 
  width: 95vw; 
  height: 100vh; 
  max-width: 1000px;
  min-width: 320px; /* maximo en dispositivos mobiles*/
  margin: auto;
}

.travel{
  width: 100%;/* coge el 100% del container*/
  height: 87%;
}

.container_photo p {
  position: absolute; /*depende del padre no de la pantalla */
  top: 17%; 
  left: 20px; 
  right: 10px; 
  font-size: large;
  text-align:center;
  background-color: rgba(255, 255, 255, 0.4); /* fondo semi-transparente para mayor legibilidad */
  padding: 10%; /* altura */
  z-index: 1; /* Establece un valor de z-index mayor para que el <p> esté por encima de la imagen */
}

.container_photo h5 {
  margin-top: 5%; 
  color:brown
}

.circle {
  background-color:#f1aa3f;
  border-radius: 50%; /* 50% para un círculo perfecto*/ 
  padding: 10px; /* Espacio alrededor del círculo*/
  margin-left: 5%;
  margin-top: 5%;
}

/* Filter de la ciudad */
.filter-container {
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.filter-title {
  font-size: 24px;
  color: rgb(14, 4, 150);
}

.filter-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*Lista de ciudades*/
.listCities {
  list-style-type: none;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
}

/*New City*/
.NewCity {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: beige
}

/*Formulario Add city*/
.formContainer {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: auto;
  /* Centrar el formulario en el medio de la página */
  background-color: lightgray;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-top: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: 20px;
}

label {
  margin-right: 5px;
  margin-top: 10px;
}

.errorText {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}

/* Botón Add New City*/
.myButton {
  margin-top: 10px;
  padding: 0
}

.myButton2 {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 90px;
  margin-bottom: 10px;
  padding: 0;
  gap: 10px;
  /* Espacio entre los botones */
  display: inline-flex;
  /* aparecen uno al lado del otro*/

}

.itineraries {
  margin-top: 30px;
  margin-left: 8px;
  margin-right: 8px;
  color: rgb(14, 4, 150);
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 24px;
  margin-top: 10px;
}

.listofItineraries {
  list-style-type: none;
  margin-right: 35px;
  margin-top: 10px;
}

.noItinerarys {
  margin-top: 30px;
  margin-left: 30px;
  font-size: medium;
  color: darkgreen;
}

/* barra inferior de navegacion de iconos*/
.Container-Icons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border-radius: 3px;*/
  /* esto hacia que tuviera el pequeño margin inferior*/
}

.Container-Icons a {
  color: black;
  padding-left: 35px;
}