.Myitinary{
  margin-top: 10px;
}

.description {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}
.description p{
  font-size: 30px;
  margin-right: 2px;
  
}
.start-browsing {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 300px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 40px;
  background-color:bisque;
  border-radius: 50px;
 }

.start-browsing h1 {
  margin: 0;
  color:gray;
}

.options {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.home-icon {
 /* align-self: flex-end;*/
  margin-top: 60px;
  margin-right: 100px;
  margin-left: 150px;
}
/* Filter */
.filter-container {
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 5px;
}

.filter-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.filter-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/*Lista de ciudades*/
.listCities{
  list-style-type: none;
  margin-right:20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*New City*/
.NewCity{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color:beige
}
.myButton{
  margin-top: 10px;
}
.myLabel1{
  margin-top: 10px;
  margin-left: 17px;
  padding-right: 20px;
  margin-bottom: 10px;
}
.myLabel2{
  margin-left: 10px;
  padding-right: 13px;
  margin-bottom: 10px;
}
.myLabel3{
  margin-left: 3px;
  padding-right: 5px;
}